{% extends 'layout.html.twig' %}

{% block content %}
	<div class="mainPageContainer">
		<div class="mainPageTitle animate__animated animate__slideInDown">
			<h1 class="greenMainTitle">Banana Clicker</h1>
		</div>
		<div>
			<div class="mainGrid">
				{% include "Component/_clicker.html.twig" %}
				{% include "Component/_tiers.html.twig" %}
				{% include "Component/_buffs.html.twig" %}
				{% include "Component/_stats.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}
