<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
		<title>
			Warped Text
		</title>
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=ABeeZee:regular:latin'>
		<style type='text/css'>
			#warped {
				position: relative;
				display: block;
				width: 580px;
				height: 440px;
			}

			#warped>span[class^=w]:nth-of-type(n + 0) {
				display: block;
				position: absolute;
				-moz-transform-origin: 50% 100%;
				-webkit-transform-origin: 50% 100%;
				-o-transform-origin: 50% 100%;
				-ms-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
			}

			#warped span {
				font-family: 'ABeeZee';
				font-size: 38px;
				font-weight: regular;
				font-style: normal;
				line-height: 0.65;
				white-space: pre;
				overflow: visible;
				padding: 0;
			}

			#warped .w0 {
				-moz-transform: rotate(6.77rad);
				-webkit-transform: rotate(6.77rad);
				-o-transform: rotate(6.77rad);
				-ms-transform: rotate(6.77rad);
				transform: rotate(6.77rad);
				width: 15px;
				height: 25px;
				left: 217.66px;
				top: 322.55px;
			}

			#warped .w1 {
				-moz-transform: rotate(6.62rad);
				-webkit-transform: rotate(6.62rad);
				-o-transform: rotate(6.62rad);
				-ms-transform: rotate(6.62rad);
				transform: rotate(6.62rad);
				width: 21px;
				height: 25px;
				left: 235.67px;
				top: 331.84px;
			}

			#warped .w2 {
				-moz-transform: rotate(6.47rad);
				-webkit-transform: rotate(6.47rad);
				-o-transform: rotate(6.47rad);
				-ms-transform: rotate(6.47rad);
				transform: rotate(6.47rad);
				width: 18px;
				height: 25px;
				left: 260.79px;
				top: 338.25px;
			}

			#warped .w3 {
				-moz-transform: rotate(6.33rad);
				-webkit-transform: rotate(6.33rad);
				-o-transform: rotate(6.33rad);
				-ms-transform: rotate(6.33rad);
				transform: rotate(6.33rad);
				width: 15px;
				height: 25px;
				left: 283.62px;
				top: 340.8px;
			}

			#warped .w4 {
				-moz-transform: rotate(6.2rad);
				-webkit-transform: rotate(6.2rad);
				-o-transform: rotate(6.2rad);
				-ms-transform: rotate(6.2rad);
				transform: rotate(6.2rad);
				width: 15px;
				height: 25px;
				left: 303.61px;
				top: 340.53px;
			}

			#warped .w5 {
				-moz-transform: rotate(6.05rad);
				-webkit-transform: rotate(6.05rad);
				-o-transform: rotate(6.05rad);
				-ms-transform: rotate(6.05rad);
				transform: rotate(6.05rad);
				width: 21px;
				height: 25px;
				left: 323.33px;
				top: 337.08px;
			}

			#warped .w6 {
				-moz-transform: rotate(5.9rad);
				-webkit-transform: rotate(5.9rad);
				-o-transform: rotate(5.9rad);
				-ms-transform: rotate(5.9rad);
				transform: rotate(5.9rad);
				width: 18px;
				height: 25px;
				left: 348.2px;
				top: 329.81px;
			}

			#warped .w7 {
				-moz-transform: rotate(5.76rad);
				-webkit-transform: rotate(5.76rad);
				-o-transform: rotate(5.76rad);
				-ms-transform: rotate(5.76rad);
				transform: rotate(5.76rad);
				width: 15px;
				height: 25px;
				left: 369.06px;
				top: 320.5px;
			}

			#warped .w8 {
				-moz-transform: rotate(5.63rad);
				-webkit-transform: rotate(5.63rad);
				-o-transform: rotate(5.63rad);
				-ms-transform: rotate(5.63rad);
				transform: rotate(5.63rad);
				width: 15px;
				height: 25px;
				left: 385.77px;
				top: 309.54px;
			}

			#warped .w9 {
				-moz-transform: rotate(5.49rad);
				-webkit-transform: rotate(5.49rad);
				-o-transform: rotate(5.49rad);
				-ms-transform: rotate(5.49rad);
				transform: rotate(5.49rad);
				width: 21px;
				height: 25px;
				left: 400.09px;
				top: 294.43px;
			}

			#warped .w10 {
				-moz-transform: rotate(5.33rad);
				-webkit-transform: rotate(5.33rad);
				-o-transform: rotate(5.33rad);
				-ms-transform: rotate(5.33rad);
				transform: rotate(5.33rad);
				width: 18px;
				height: 25px;
				left: 417.4px;
				top: 275.75px;
			}

			#warped .w11 {
				-moz-transform: rotate(5.19rad);
				-webkit-transform: rotate(5.19rad);
				-o-transform: rotate(5.19rad);
				-ms-transform: rotate(5.19rad);
				transform: rotate(5.19rad);
				width: 15px;
				height: 25px;
				left: 430.23px;
				top: 257.49px;
			}

			#warped .w12 {
				-moz-transform: rotate(5.07rad);
				-webkit-transform: rotate(5.07rad);
				-o-transform: rotate(5.07rad);
				-ms-transform: rotate(5.07rad);
				transform: rotate(5.07rad);
				width: 15px;
				height: 25px;
				left: 438.44px;
				top: 239.27px;
			}

			#warped .w13 {
				-moz-transform: rotate(4.92rad);
				-webkit-transform: rotate(4.92rad);
				-o-transform: rotate(4.92rad);
				-ms-transform: rotate(4.92rad);
				transform: rotate(4.92rad);
				width: 21px;
				height: 25px;
				left: 441.94px;
				top: 217.23px;
			}

			#warped .w14 {
				-moz-transform: rotate(4.76rad);
				-webkit-transform: rotate(4.76rad);
				-o-transform: rotate(4.76rad);
				-ms-transform: rotate(4.76rad);
				transform: rotate(4.76rad);
				width: 18px;
				height: 25px;
				left: 446.74px;
				top: 192.98px;
			}

			#warped .w15 {
				-moz-transform: rotate(4.63rad);
				-webkit-transform: rotate(4.63rad);
				-o-transform: rotate(4.63rad);
				-ms-transform: rotate(4.63rad);
				transform: rotate(4.63rad);
				width: 15px;
				height: 25px;
				left: 448px;
				top: 171.5px;
			}

			#warped .w16 {
				-moz-transform: rotate(4.5rad);
				-webkit-transform: rotate(4.5rad);
				-o-transform: rotate(4.5rad);
				-ms-transform: rotate(4.5rad);
				transform: rotate(4.5rad);
				width: 15px;
				height: 25px;
				left: 445.14px;
				top: 151.72px;
			}

			#warped .w17 {
				-moz-transform: rotate(4.35rad);
				-webkit-transform: rotate(4.35rad);
				-o-transform: rotate(4.35rad);
				-ms-transform: rotate(4.35rad);
				transform: rotate(4.35rad);
				width: 21px;
				height: 25px;
				left: 435.78px;
				top: 129.63px;
			}

			#warped .w18 {
				-moz-transform: rotate(0.17rad);
				-webkit-transform: rotate(0.17rad);
				-o-transform: rotate(0.17rad);
				-ms-transform: rotate(0.17rad);
				transform: rotate(0.17rad);
				width: 18px;
				height: 25px;
				left: 259.26px;
				top: 342.77px;
			}

			#warped .w19 {
				-moz-transform: rotate(0.02rad);
				-webkit-transform: rotate(0.02rad);
				-o-transform: rotate(0.02rad);
				-ms-transform: rotate(0.02rad);
				transform: rotate(0.02rad);
				width: 15px;
				height: 25px;
				left: 282.14px;
				top: 344.93px;
			}

			#warped .w20 {
				-moz-transform: rotate(-0.11rad);
				-webkit-transform: rotate(-0.11rad);
				-o-transform: rotate(-0.11rad);
				-ms-transform: rotate(-0.11rad);
				transform: rotate(-0.11rad);
				width: 15px;
				height: 25px;
				left: 302.11px;
				top: 344.18px;
			}

			#warped .w21 {
				-moz-transform: rotate(-0.26rad);
				-webkit-transform: rotate(-0.26rad);
				-o-transform: rotate(-0.26rad);
				-ms-transform: rotate(-0.26rad);
				transform: rotate(-0.26rad);
				width: 21px;
				height: 25px;
				left: 321.71px;
				top: 340.05px;
			}

			#warped .w22 {
				-moz-transform: rotate(-0.43rad);
				-webkit-transform: rotate(-0.43rad);
				-o-transform: rotate(-0.43rad);
				-ms-transform: rotate(-0.43rad);
				transform: rotate(-0.43rad);
				width: 18px;
				height: 25px;
				left: 346.29px;
				top: 331.9px;
			}

			#warped .w23 {
				-moz-transform: rotate(-0.57rad);
				-webkit-transform: rotate(-0.57rad);
				-o-transform: rotate(-0.57rad);
				-ms-transform: rotate(-0.57rad);
				transform: rotate(-0.57rad);
				width: 15px;
				height: 25px;
				left: 366.72px;
				top: 321.74px;
			}

			#warped .w24 {
				-moz-transform: rotate(-0.7rad);
				-webkit-transform: rotate(-0.7rad);
				-o-transform: rotate(-0.7rad);
				-ms-transform: rotate(-0.7rad);
				transform: rotate(-0.7rad);
				width: 15px;
				height: 25px;
				left: 382.85px;
				top: 309.95px;
			}

			#warped .w25 {
				-moz-transform: rotate(-0.86rad);
				-webkit-transform: rotate(-0.86rad);
				-o-transform: rotate(-0.86rad);
				-ms-transform: rotate(-0.86rad);
				transform: rotate(-0.86rad);
				width: 21px;
				height: 25px;
				left: 396.28px;
				top: 293.89px;
			}

			#warped .w26 {
				-moz-transform: rotate(-1.02rad);
				-webkit-transform: rotate(-1.02rad);
				-o-transform: rotate(-1.02rad);
				-ms-transform: rotate(-1.02rad);
				transform: rotate(-1.02rad);
				width: 18px;
				height: 25px;
				left: 412.36px;
				top: 274.23px;
			}

			#warped .w27 {
				-moz-transform: rotate(-1.16rad);
				-webkit-transform: rotate(-1.16rad);
				-o-transform: rotate(-1.16rad);
				-ms-transform: rotate(-1.16rad);
				transform: rotate(-1.16rad);
				width: 15px;
				height: 25px;
				left: 423.87px;
				top: 255.22px;
			}

			#warped .w28 {
				-moz-transform: rotate(-1.3rad);
				-webkit-transform: rotate(-1.3rad);
				-o-transform: rotate(-1.3rad);
				-ms-transform: rotate(-1.3rad);
				transform: rotate(-1.3rad);
				width: 15px;
				height: 25px;
				left: 430.66px;
				top: 236.43px;
			}

			#warped .w29 {
				-moz-transform: rotate(-1.45rad);
				-webkit-transform: rotate(-1.45rad);
				-o-transform: rotate(-1.45rad);
				-ms-transform: rotate(-1.45rad);
				transform: rotate(-1.45rad);
				width: 21px;
				height: 25px;
				left: 432.3px;
				top: 213.92px;
			}

			#warped .w30 {
				-moz-transform: rotate(-1.61rad);
				-webkit-transform: rotate(-1.61rad);
				-o-transform: rotate(-1.61rad);
				-ms-transform: rotate(-1.61rad);
				transform: rotate(-1.61rad);
				width: 18px;
				height: 25px;
				left: 434.89px;
				top: 189.47px;
			}

			#warped .w31 {
				-moz-transform: rotate(-1.76rad);
				-webkit-transform: rotate(-1.76rad);
				-o-transform: rotate(-1.76rad);
				-ms-transform: rotate(-1.76rad);
				transform: rotate(-1.76rad);
				width: 15px;
				height: 25px;
				left: 434.07px;
				top: 168.12px;
			}

			#warped .w32 {
				-moz-transform: rotate(-1.89rad);
				-webkit-transform: rotate(-1.89rad);
				-o-transform: rotate(-1.89rad);
				-ms-transform: rotate(-1.89rad);
				transform: rotate(-1.89rad);
				width: 15px;
				height: 25px;
				left: 429.18px;
				top: 148.74px;
			}

			#warped .w33 {
				-moz-transform: rotate(-2.04rad);
				-webkit-transform: rotate(-2.04rad);
				-o-transform: rotate(-2.04rad);
				-ms-transform: rotate(-2.04rad);
				transform: rotate(-2.04rad);
				width: 21px;
				height: 25px;
				left: 417.45px;
				top: 127.49px;
			}

			#warped .w34 {
				-moz-transform: rotate(-2.21rad);
				-webkit-transform: rotate(-2.21rad);
				-o-transform: rotate(-2.21rad);
				-ms-transform: rotate(-2.21rad);
				transform: rotate(-2.21rad);
				width: 18px;
				height: 25px;
				left: 406.19px;
				top: 106.61px;
			}

			#warped .w35 {
				-moz-transform: rotate(-2.35rad);
				-webkit-transform: rotate(-2.35rad);
				-o-transform: rotate(-2.35rad);
				-ms-transform: rotate(-2.35rad);
				transform: rotate(-2.35rad);
				width: 15px;
				height: 25px;
				left: 393.82px;
				top: 90.2px;
			}

			#warped .w36 {
				-moz-transform: rotate(-2.48rad);
				-webkit-transform: rotate(-2.48rad);
				-o-transform: rotate(-2.48rad);
				-ms-transform: rotate(-2.48rad);
				transform: rotate(-2.48rad);
				width: 15px;
				height: 25px;
				left: 378.93px;
				top: 76.86px;
			}

			#warped .w37 {
				-moz-transform: rotate(-2.64rad);
				-webkit-transform: rotate(-2.64rad);
				-o-transform: rotate(-2.64rad);
				-ms-transform: rotate(-2.64rad);
				transform: rotate(-2.64rad);
				width: 21px;
				height: 25px;
				left: 356.81px;
				top: 64.13px;
			}

			#warped .w38 {
				-moz-transform: rotate(-2.8rad);
				-webkit-transform: rotate(-2.8rad);
				-o-transform: rotate(-2.8rad);
				-ms-transform: rotate(-2.8rad);
				transform: rotate(-2.8rad);
				width: 18px;
				height: 25px;
				left: 336.05px;
				top: 53.95px;
			}

			#warped .w39 {
				-moz-transform: rotate(-2.94rad);
				-webkit-transform: rotate(-2.94rad);
				-o-transform: rotate(-2.94rad);
				-ms-transform: rotate(-2.94rad);
				transform: rotate(-2.94rad);
				width: 15px;
				height: 25px;
				left: 316.88px;
				top: 48.1px;
			}

			#warped .w40 {
				-moz-transform: rotate(-3.08rad);
				-webkit-transform: rotate(-3.08rad);
				-o-transform: rotate(-3.08rad);
				-ms-transform: rotate(-3.08rad);
				transform: rotate(-3.08rad);
				width: 15px;
				height: 25px;
				left: 297.08px;
				top: 45.37px;
			}

			#warped .w41 {
				-moz-transform: rotate(-3.23rad);
				-webkit-transform: rotate(-3.23rad);
				-o-transform: rotate(-3.23rad);
				-ms-transform: rotate(-3.23rad);
				transform: rotate(-3.23rad);
				width: 21px;
				height: 25px;
				left: 271.11px;
				top: 45.51px;
			}

			#warped .w42 {
				-moz-transform: rotate(9.67rad);
				-webkit-transform: rotate(9.67rad);
				-o-transform: rotate(9.67rad);
				-ms-transform: rotate(9.67rad);
				transform: rotate(9.67rad);
				width: 18px;
				height: 25px;
				left: 248.46px;
				top: 340.48px;
			}

			#warped .w43 {
				-moz-transform: rotate(9.81rad);
				-webkit-transform: rotate(9.81rad);
				-o-transform: rotate(9.81rad);
				-ms-transform: rotate(9.81rad);
				transform: rotate(9.81rad);
				width: 15px;
				height: 25px;
				left: 229.56px;
				top: 333.77px;
			}

			#warped .w44 {
				-moz-transform: rotate(9.94rad);
				-webkit-transform: rotate(9.94rad);
				-o-transform: rotate(9.94rad);
				-ms-transform: rotate(9.94rad);
				transform: rotate(9.94rad);
				width: 15px;
				height: 25px;
				left: 211.61px;
				top: 324.97px;
			}

			#warped .w45 {
				-moz-transform: rotate(10.1rad);
				-webkit-transform: rotate(10.1rad);
				-o-transform: rotate(10.1rad);
				-ms-transform: rotate(10.1rad);
				transform: rotate(10.1rad);
				width: 21px;
				height: 25px;
				left: 189.64px;
				top: 312.01px;
			}

			#warped .w46 {
				-moz-transform: rotate(10.26rad);
				-webkit-transform: rotate(10.26rad);
				-o-transform: rotate(10.26rad);
				-ms-transform: rotate(10.26rad);
				transform: rotate(10.26rad);
				width: 18px;
				height: 25px;
				left: 173.36px;
				top: 295.19px;
			}

			#warped .w47 {
				-moz-transform: rotate(10.4rad);
				-webkit-transform: rotate(10.4rad);
				-o-transform: rotate(10.4rad);
				-ms-transform: rotate(10.4rad);
				transform: rotate(10.4rad);
				width: 15px;
				height: 25px;
				left: 161.7px;
				top: 278.21px;
			}

			#warped .w48 {
				-moz-transform: rotate(10.54rad);
				-webkit-transform: rotate(10.54rad);
				-o-transform: rotate(10.54rad);
				-ms-transform: rotate(10.54rad);
				transform: rotate(10.54rad);
				width: 15px;
				height: 25px;
				left: 151.74px;
				top: 260.88px;
			}

			#warped .w49 {
				-moz-transform: rotate(10.69rad);
				-webkit-transform: rotate(10.69rad);
				-o-transform: rotate(10.69rad);
				-ms-transform: rotate(10.69rad);
				transform: rotate(10.69rad);
				width: 21px;
				height: 25px;
				left: 140.26px;
				top: 239.53px;
			}

			#warped .w50 {
				-moz-transform: rotate(10.85rad);
				-webkit-transform: rotate(10.85rad);
				-o-transform: rotate(10.85rad);
				-ms-transform: rotate(10.85rad);
				transform: rotate(10.85rad);
				width: 18px;
				height: 25px;
				left: 136.42px;
				top: 215.65px;
			}

			#warped .w51 {
				-moz-transform: rotate(11rad);
				-webkit-transform: rotate(11rad);
				-o-transform: rotate(11rad);
				-ms-transform: rotate(11rad);
				transform: rotate(11rad);
				width: 15px;
				height: 25px;
				left: 136.5px;
				top: 194.21px;
			}

			#warped .w52 {
				-moz-transform: rotate(11.13rad);
				-webkit-transform: rotate(11.13rad);
				-o-transform: rotate(11.13rad);
				-ms-transform: rotate(11.13rad);
				transform: rotate(11.13rad);
				width: 15px;
				height: 25px;
				left: 137.93px;
				top: 174.28px;
			}

			#warped .w53 {
				-moz-transform: rotate(11.28rad);
				-webkit-transform: rotate(11.28rad);
				-o-transform: rotate(11.28rad);
				-ms-transform: rotate(11.28rad);
				transform: rotate(11.28rad);
				width: 21px;
				height: 25px;
				left: 139.84px;
				top: 151.83px;
			}

			#warped .w54 {
				-moz-transform: rotate(11.45rad);
				-webkit-transform: rotate(11.45rad);
				-o-transform: rotate(11.45rad);
				-ms-transform: rotate(11.45rad);
				transform: rotate(11.45rad);
				width: 18px;
				height: 25px;
				left: 150.27px;
				top: 129.05px;
			}

			#warped .w55 {
				-moz-transform: rotate(11.59rad);
				-webkit-transform: rotate(11.59rad);
				-o-transform: rotate(11.59rad);
				-ms-transform: rotate(11.59rad);
				transform: rotate(11.59rad);
				width: 15px;
				height: 25px;
				left: 162.57px;
				top: 110.48px;
			}

			#warped .w56 {
				-moz-transform: rotate(11.72rad);
				-webkit-transform: rotate(11.72rad);
				-o-transform: rotate(11.72rad);
				-ms-transform: rotate(11.72rad);
				transform: rotate(11.72rad);
				width: 15px;
				height: 25px;
				left: 174.91px;
				top: 94.75px;
			}

			#warped .w57 {
				-moz-transform: rotate(11.88rad);
				-webkit-transform: rotate(11.88rad);
				-o-transform: rotate(11.88rad);
				-ms-transform: rotate(11.88rad);
				transform: rotate(11.88rad);
				width: 21px;
				height: 25px;
				left: 188.53px;
				top: 78.89px;
			}

			#warped .w58 {
				-moz-transform: rotate(12.04rad);
				-webkit-transform: rotate(12.04rad);
				-o-transform: rotate(12.04rad);
				-ms-transform: rotate(12.04rad);
				transform: rotate(12.04rad);
				width: 18px;
				height: 25px;
				left: 210.17px;
				top: 64.99px;
			}

			#warped .w59 {
				-moz-transform: rotate(12.18rad);
				-webkit-transform: rotate(12.18rad);
				-o-transform: rotate(12.18rad);
				-ms-transform: rotate(12.18rad);
				transform: rotate(12.18rad);
				width: 15px;
				height: 25px;
				left: 231.01px;
				top: 55.63px;
			}

			#warped .w60 {
				-moz-transform: rotate(12.32rad);
				-webkit-transform: rotate(12.32rad);
				-o-transform: rotate(12.32rad);
				-ms-transform: rotate(12.32rad);
				transform: rotate(12.32rad);
				width: 15px;
				height: 25px;
				left: 250.03px;
				top: 49.5px;
			}

			#warped .w61 {
				-moz-transform: rotate(12.47rad);
				-webkit-transform: rotate(12.47rad);
				-o-transform: rotate(12.47rad);
				-ms-transform: rotate(12.47rad);
				transform: rotate(12.47rad);
				width: 21px;
				height: 25px;
				left: 269.68px;
				top: 45.63px;
			}

			#warped .w62 {
				-moz-transform: rotate(12.63rad);
				-webkit-transform: rotate(12.63rad);
				-o-transform: rotate(12.63rad);
				-ms-transform: rotate(12.63rad);
				transform: rotate(12.63rad);
				width: 18px;
				height: 25px;
				left: 295.65px;
				top: 45.37px;
			}

			#warped .w63 {
				-moz-transform: rotate(12.78rad);
				-webkit-transform: rotate(12.78rad);
				-o-transform: rotate(12.78rad);
				-ms-transform: rotate(12.78rad);
				transform: rotate(12.78rad);
				width: 15px;
				height: 25px;
				left: 318.41px;
				top: 48.43px;
			}

			#warped .w64 {
				-moz-transform: rotate(12.91rad);
				-webkit-transform: rotate(12.91rad);
				-o-transform: rotate(12.91rad);
				-ms-transform: rotate(12.91rad);
				transform: rotate(12.91rad);
				width: 15px;
				height: 25px;
				left: 337.61px;
				top: 53.97px;
			}

			#warped .w65 {
				-moz-transform: rotate(13.06rad);
				-webkit-transform: rotate(13.06rad);
				-o-transform: rotate(13.06rad);
				-ms-transform: rotate(13.06rad);
				transform: rotate(13.06rad);
				width: 21px;
				height: 25px;
				left: 355.55px;
				top: 63.44px;
			}

			#warped .w66 {
				-moz-transform: rotate(13.23rad);
				-webkit-transform: rotate(13.23rad);
				-o-transform: rotate(13.23rad);
				-ms-transform: rotate(13.23rad);
				transform: rotate(13.23rad);
				width: 18px;
				height: 25px;
				left: 377.49px;
				top: 76.9px;
			}

			#warped .w67 {
				-moz-transform: rotate(13.37rad);
				-webkit-transform: rotate(13.37rad);
				-o-transform: rotate(13.37rad);
				-ms-transform: rotate(13.37rad);
				transform: rotate(13.37rad);
				width: 15px;
				height: 25px;
				left: 394.91px;
				top: 91.33px;
			}

			#warped .w68 {
				-moz-transform: rotate(13.5rad);
				-webkit-transform: rotate(13.5rad);
				-o-transform: rotate(13.5rad);
				-ms-transform: rotate(13.5rad);
				transform: rotate(13.5rad);
				width: 15px;
				height: 25px;
				left: 407.73px;
				top: 106.66px;
			}

			#warped .w69 {
				-moz-transform: rotate(13.66rad);
				-webkit-transform: rotate(13.66rad);
				-o-transform: rotate(13.66rad);
				-ms-transform: rotate(13.66rad);
				transform: rotate(13.66rad);
				width: 21px;
				height: 25px;
				left: 416.79px;
				top: 126.21px;
			}

			#warped .w70 {
				-moz-transform: rotate(13.82rad);
				-webkit-transform: rotate(13.82rad);
				-o-transform: rotate(13.82rad);
				-ms-transform: rotate(13.82rad);
				transform: rotate(13.82rad);
				width: 18px;
				height: 25px;
				left: 427.71px;
				top: 148.8px;
			}

			#warped .w71 {
				-moz-transform: rotate(13.96rad);
				-webkit-transform: rotate(13.96rad);
				-o-transform: rotate(13.96rad);
				-ms-transform: rotate(13.96rad);
				transform: rotate(13.96rad);
				width: 15px;
				height: 25px;
				left: 434.34px;
				top: 169.66px;
			}

			#warped .w72 {
				-moz-transform: rotate(14.1rad);
				-webkit-transform: rotate(14.1rad);
				-o-transform: rotate(14.1rad);
				-ms-transform: rotate(14.1rad);
				transform: rotate(14.1rad);
				width: 15px;
				height: 25px;
				left: 436.4px;
				top: 189.54px;
			}

			#warped .w73 {
				-moz-transform: rotate(14.25rad);
				-webkit-transform: rotate(14.25rad);
				-o-transform: rotate(14.25rad);
				-ms-transform: rotate(14.25rad);
				transform: rotate(14.25rad);
				width: 21px;
				height: 25px;
				left: 432.47px;
				top: 212.5px;
			}

			#warped .w74 {
				-moz-transform: rotate(14.41rad);
				-webkit-transform: rotate(14.41rad);
				-o-transform: rotate(14.41rad);
				-ms-transform: rotate(14.41rad);
				transform: rotate(14.41rad);
				width: 18px;
				height: 25px;
				left: 429.14px;
				top: 236.49px;
			}

			#warped .w75 {
				-moz-transform: rotate(14.56rad);
				-webkit-transform: rotate(14.56rad);
				-o-transform: rotate(14.56rad);
				-ms-transform: rotate(14.56rad);
				transform: rotate(14.56rad);
				width: 15px;
				height: 25px;
				left: 423.24px;
				top: 256.66px;
			}

			#warped .w76 {
				-moz-transform: rotate(14.69rad);
				-webkit-transform: rotate(14.69rad);
				-o-transform: rotate(14.69rad);
				-ms-transform: rotate(14.69rad);
				transform: rotate(14.69rad);
				width: 15px;
				height: 25px;
				left: 413.82px;
				top: 274.29px;
			}

			#warped .w77 {
				-moz-transform: rotate(14.84rad);
				-webkit-transform: rotate(14.84rad);
				-o-transform: rotate(14.84rad);
				-ms-transform: rotate(14.84rad);
				transform: rotate(14.84rad);
				width: 21px;
				height: 25px;
				left: 397.22px;
				top: 292.8px;
			}

			#warped .w78 {
				-moz-transform: rotate(15.01rad);
				-webkit-transform: rotate(15.01rad);
				-o-transform: rotate(15.01rad);
				-ms-transform: rotate(15.01rad);
				transform: rotate(15.01rad);
				width: 18px;
				height: 25px;
				left: 381.3px;
				top: 309.99px;
			}

			#warped .w79 {
				-moz-transform: rotate(15.15rad);
				-webkit-transform: rotate(15.15rad);
				-o-transform: rotate(15.15rad);
				-ms-transform: rotate(15.15rad);
				transform: rotate(15.15rad);
				width: 15px;
				height: 25px;
				left: 365.39px;
				top: 322.57px;
			}

			#warped .w80 {
				-moz-transform: rotate(15.28rad);
				-webkit-transform: rotate(15.28rad);
				-o-transform: rotate(15.28rad);
				-ms-transform: rotate(15.28rad);
				transform: rotate(15.28rad);
				width: 15px;
				height: 25px;
				left: 347.73px;
				top: 331.93px;
			}

			#warped .w81 {
				-moz-transform: rotate(15.44rad);
				-webkit-transform: rotate(15.44rad);
				-o-transform: rotate(15.44rad);
				-ms-transform: rotate(15.44rad);
				transform: rotate(15.44rad);
				width: 21px;
				height: 25px;
				left: 323.09px;
				top: 339.67px;
			}

			#warped .w82 {
				-moz-transform: rotate(15.6rad);
				-webkit-transform: rotate(15.6rad);
				-o-transform: rotate(15.6rad);
				-ms-transform: rotate(15.6rad);
				transform: rotate(15.6rad);
				width: 18px;
				height: 25px;
				left: 300.54px;
				top: 344.19px;
			}

			#warped .w83 {
				-moz-transform: rotate(15.74rad);
				-webkit-transform: rotate(15.74rad);
				-o-transform: rotate(15.74rad);
				-ms-transform: rotate(15.74rad);
				transform: rotate(15.74rad);
				width: 15px;
				height: 25px;
				left: 280.57px;
				top: 344.88px;
			}
		</style>
	</head>

	<body>
		<div id='warped'>
			<span class='w0'>t</span>
			<span class='w1'>e</span>
			<span class='w2'>s</span>
			<span class='w3'>t</span>
			<span class='w4'>t</span>
			<span class='w5'>e</span>
			<span class='w6'>s</span>
			<span class='w7'>t</span>
			<span class='w8'>t</span>
			<span class='w9'>e</span>
			<span class='w10'>s</span>
			<span class='w11'>t</span>
			<span class='w12'>t</span>
			<span class='w13'>e</span>
			<span class='w14'>s</span>
			<span class='w15'>t</span>
			<span class='w16'>t</span>
			<span class='w17'>e</span>
		</div>
	</body>

</html>
