<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta property="og:title" content="Banana Clicker">
		<meta property="og;image" content="https://images.contentful.com/yzco4xsimv0y/kNtds8uWjRoCG1rHYLypr/b2b5d9b73d178dceebeeceac25326495/website-manage-site-pages.png">
		<meta property="og:description" content="<p>Le clicker préféré de la jungle !</p> ">
		<meta property="og:site_name" content="bananaclicker.ghartemann.fr">

		<link rel="icon" href="/assets/images/favicon.png">

		<title>
			Banana Clicker
			{% block title %}{% endblock %}
		</title>

		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/warp.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> {% block stylesheet %}{% endblock %}
		</head>

		<body>
			{% block content %}{% endblock %}

			{% include "Component/_version.html.twig" %}
			{% include "Component/_cheat.html.twig" %}
			{% include "Component/_footer.html.twig" %}

			<script src="assets/js/script.js"></script>
			<script src="assets/js/animations.js"></script>
			{% block javascript %}{% endblock %}
		</body>
	</html>
