/* Tooltips from ttps://codepen.io/vincentnavetat/pen/JjPVzGL */

@-webkit-keyframes tooltipFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes tooltipFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tooltip-dropdown {
  display: none;
  position: absolute;
  top: 60px;
  right: -200px;
  z-index: 1000;
  padding-top: 0px;
}

.tooltip-dropdown-buffs {
  display: none;
  position: absolute;
  top: 62px;
  left: -220px;
  z-index: 1000;
  padding-top: 0px;
}

.tooltip-dropdown__content, .mobileTooltip {
  color: white;
  background-color: #f1c40f;
  border-radius: 10px;
  padding: 8px 12px;
  width: 265px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 1px 10px 1px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.mobileTooltip {
  display: none;
}

.mobileTooltip::active {
  display: block;
position: absolute;
top: -100px;
left: 20%;
}

.tooltip--open .tooltip-dropdown, .tooltip--open .tooltip-dropdown-buffs {
  -webkit-animation: tooltipFadeIn 0.15s;
  animation: tooltipFadeIn 0.15s;
  display: block;
}

@media (hover: hover) {
  .tooltip:hover .tooltip-dropdown, .tooltip:hover .tooltip-dropdown-buffs {
    -webkit-animation: tooltipFadeIn 0.15s;
    animation: tooltipFadeIn 0.15s;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .tooltip--open,
  .tooltip-dropdown,
  .tooltip-dropdown__content {
    display: none;
  }
}
