/* Tooltips from ttps://codepen.io/vincentnavetat/pen/JjPVzGL */

@-webkit-keyframes tooltipFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes tooltipFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tooltip {
  position: relative;
}

.tooltip-dropdown {
  display: none;
  position: absolute;
  top: 0;
  transform: translateX(-60%);
  z-index: 2;
  padding-top: 0px;
}

.tooltip-dropdown__content {
  color: white;
  background-color: #f1c40f;
  border-radius: 10px;
  padding: 8px 12px;
  width: 265px;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 1px 10px 1px;
}

.tooltip--open .tooltip-dropdown {
  -webkit-animation: tooltipFadeIn 0.15s;
  animation: tooltipFadeIn 0.15s;
  display: block;
}

@media (hover: hover) {
  .tooltip:hover .tooltip-dropdown {
    -webkit-animation: tooltipFadeIn 0.15s;
    animation: tooltipFadeIn 0.15s;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .tooltip--open,
  .tooltip-dropdown,
  .tooltip-dropdown__content {
    display: none;
  }
}
