<div class="videoButton">
	<iframe id="video" class="hiddenFrame" width="560" height="315" src="https://www.youtube.com/embed/nZUMdnky11E?enablejsapi=1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<img src="assets/images/monkeyoff.png" id="stopButton" onclick="stopVideo();" class=" unavailable" alt="Un singe qui se tait (son off).">
	<img src="assets/images/monkeyon.png" id="startButton" onclick="startVideo();" class="" alt="Un singe qui parle (son on).">
	<div class="soundText">
		<p>S</p>
		<p>O</p>
		<p>N</p>
	</div>
</div>
