<div id="banner1" class="banner1 unavailable">
	<h1>Acheté le nouveau ratiboiseur de lamas</h1>
</div>

<div id="banner2" class="banner2 unavailable">
	<div class="banner2left">
		<h1>Élargir votre génisse</h1>
	</div>
	<div class="banner2right">
		<p>avec le nouveau régime Sasébon à base de farines animales</p>
	</div>
</div>

<div id="banner3" class="banner3 unavailable">
	<h1>attention à la mousse</h1>
</div>
