<div class="mainBuffsContainer animate__animated animate__slideInRight">
	<div class="buffsContainer">
		<h1>Améliorations</h1>
		<div class="buffs">

			<div id="nothing">
				<p>
					Rien pour l'instant... Essayez de cliquer un peu ou d'acheter des choses, pour voir.
				</p>
			</div>

			<div id="buyableBuffs">

				{% include "Component/_buffsBPC.html.twig" %}
				{% include "Component/_buffsBPS.html.twig" %}

			</div>
		</div>
		<div class="downArrow">▾</div>
	</div>
</div>
