<div id="cheat" class="unavailable animate__animated animate__bounceIn">
	<div class="cheatFlex">
		<img src="assets/images/devil.png" class="cheatButton" onclick="cheat();" alt="Un petit diablotin qui permet d'acquérir des bananes.">
		<div class="cheatText">
			<p>C</p>
			<p>H</p>
			<p>E</p>
			<p>A</p>
			<p>T</p>
		</div>
	</div>
</div>
