<div id="mySideInfo" class="sideinfo">
	<a id="closeBtnInfo" href="#" class="close">×</a>

	<div class="welcomeText">
		<h2>
			Bienvenue sur<br/><span class="yellowTitle">Banana Clicker</span>
		</h2>
		<p>
			Hommage à
			<a class="cookieClickerLink" href="https://orteil.dashnet.org/cookieclicker/" target="_blank">Cookie Clicker</a>
			et tentative de création d'un premier jeu vidéo, le développement de cette expérience somme toute assez simpliste m'a beaucoup amusé. J'espère que son utilisation saura susciter chez vous des émotions au moins similaires sinon plus intenses encore.
		</p>
	</div>
	<div class="tuto">
		<h2>But du jeu :</h2>
		<p>
			Le but est de collecter le plus grand nombre de bananes possible. Bien entendu, il n'y a pas de fin et les prix sont incrémentaux.
		</p>
	</div>
	<div class="warning">
		<h2>Sauvegarde :</h2>
		<p>Le jeu dispose d'une fonctonnalité de sauvegarde automatique. Où ? Pour combien de temps ? Ce sont les mystères du
			<i>local storage</i>...</p>
		<p>Il est possible de la réinitialiser dans le menu de droite (il faut parfois le faire une deuxième fois pour que ça fonctionne, c'est comme ça).</p>
	</div>
	<div class="lexique">
		<h2>Lexique :</h2>
		<p>bps = bananes par seconde</p>
		<p>bpc = bananes par clic</p>
	</div>

</div>

<a href="#" id="openBtnInfo">
	<img class="btnInfo" src="assets/images/question-mark.png">
</a>
