<form class="unavailable" action="">
	<input class="unavailable" type="number" name="bananas" id="bananas"/>
	<input class="unavailable" type="number" name="bps" id="bps"/>
	<input class="unavailable" type="number" name="bpc" id="bpc"/>
	<input type="submit" value="Save"/>
</form>
