<div id="mySidenav" class="sidenav">
	<a id="closeBtn" href="#" class="close">×</a>
	<ul>
		<li>
			<a href="#" onclick="unreleased();">Sauvegarder</a>
		</li>
		<li>
			<a href="#" onclick="patchNote();">Changelog</a>
		</li>
		<li>
			<a href="#" onclick="roadMap();">Roadmap</a>
		</li>
		<li>
			<p href="#" id="version"></p>
		</li>
	</ul>
</div>

<a href="#" id="openBtn">
	<span class="burger-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
</a>
