<div class="statsContainer animate__animated animate__slideInRight">
	<div class="nbClicks">
		<h1>Statistiques</h1>
		<p>Nombre de clics :
			<span id="nbClicks">0</span>
		</p>
		<p>
			Vous gagnerez (peut-être) le jeu dans
			<span id="restClicks">1000000</span>
			clics. Qui sait ? En tout cas ça fait vraiment beaucoup de clics.
		</p>
	</div>
</div>
